{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Tân y quán</title>
<meta name="description"
    content="Tìm mua rượu trắng: rượu trắng 20 lít, 10 lít, 5 lít. Rượu trắng tại rượu được nấu từ gạo tẻ, men bắc theo phương pháp truyền thống. ">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<!--Page Title-->
    <section class="page-title" style="background-image: url(/browser/static/images/background/8.jpg);">
        <div class="auto-container">
            <div class="title-outer">
                <h1>Tư vấn sức khỏe</h1>
                <ul class="page-breadcrumb">
                    <li><a href="{% url 'trang-chu' %}">Trang chủ</a></li>
                    <li>Tư vấn sức khỏe</li>
                </ul> 
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Blog Section -->
    <section class="blog-section blog-three-col">
        <div class="auto-container">
            <div class="row">
                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="{% url 'tu-van-suc-khoe-detail' %}"><img src="/browser/static/images/resource/news-1.jpg" alt=""></a></figure>
                            <a href="#" class="date">Sep 19, 2020</a>
                        </div>
                        <div class="lower-content">
                            <h4><a href="{% url 'tu-van-suc-khoe-detail' %}">What is The Success rate<br> of a root canel?</a></h4>
                            <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                            <div class="post-info">
                                <div class="post-author">By Admin Rose</div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="{% url 'tu-van-suc-khoe-detail' %}"><img src="/browser/static/images/resource/news-2.jpg" alt=""></a></figure>
                            <a href="#" class="date">Sep 19, 2020</a>
                        </div>
                        <div class="lower-content">
                            <h4><a href="{% url 'tu-van-suc-khoe-detail' %}">How to handle your kids’ <Br>mystery ailments?</a></h4>
                            <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                            <div class="post-info">
                                <div class="post-author">By Admin Rose</div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="{% url 'tu-van-suc-khoe-detail' %}"><img src="/browser/static/images/resource/news-3.jpg" alt=""></a></figure>
                            <a href="#" class="date">Sep 19, 2020</a>
                        </div>
                        <div class="lower-content">
                            <h4><a href="{% url 'tu-van-suc-khoe-detail' %}">How to help the cardiology <br>department</a></h4>
                            <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                            <div class="post-info">
                                <div class="post-author">By Admin Rose</div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="{% url 'tu-van-suc-khoe-detail' %}"><img src="/browser/static/images/resource/news-1.jpg" alt=""></a></figure>
                            <a href="#" class="date">Sep 19, 2020</a>
                        </div>
                        <div class="lower-content">
                            <h4><a href="{% url 'tu-van-suc-khoe-detail' %}">What is The Success rate<br> of a root canel?</a></h4>
                            <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                            <div class="post-info">
                                <div class="post-author">By Admin Rose</div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="{% url 'tu-van-suc-khoe-detail' %}"><img src="/browser/static/images/resource/news-2.jpg" alt=""></a></figure>
                            <a href="#" class="date">Sep 19, 2020</a>
                        </div>
                        <div class="lower-content">
                            <h4><a href="{% url 'tu-van-suc-khoe-detail' %}">How to handle your kids’ <Br>mystery ailments?</a></h4>
                            <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                            <div class="post-info">
                                <div class="post-author">By Admin Rose</div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="{% url 'tu-van-suc-khoe-detail' %}"><img src="/browser/static/images/resource/news-3.jpg" alt=""></a></figure>
                            <a href="#" class="date">Sep 19, 2020</a>
                        </div>
                        <div class="lower-content">
                            <h4><a href="{% url 'tu-van-suc-khoe-detail' %}">How to help the cardiology <br>department</a></h4>
                            <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                            <div class="post-info">
                                <div class="post-author">By Admin Rose</div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}