{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Tân y quán</title>
<meta name="description" content="">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<main>
  <!-- Hero Area Start-->
  <div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Đặt rượu</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Thông tin khách hàng</h3>
            <form id="checkout-form" class="row contact_form" action="" method="post">
              {% csrf_token %}
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="customer" name="customer" required />
                <span class="placeholder" data-placeholder="Họ và tên" style="pointer-events: none;"></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="phone" name="phone" required />
                <span class="placeholder" data-placeholder="Số điện thoại" style="pointer-events: none;"></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="address" name="address" required />
                <span class="placeholder" data-placeholder="Địa chỉ" style="pointer-events: none;"></span>
              </div>
              <input type="hidden" name="product" value="{{ product.id }}">
              <input type="hidden" name="quantity" value="{{ quantity }}">
              <input type="hidden" name="submit" value="submit">
              <div class="col-md-12 form-group">
                <textarea class="form-control" name="note" id="note" rows="1" placeholder="Ghi chú"></textarea>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Đơn hàng</h2>
              <ul class="list">
                <li>
                  <a>Sản phẩm
                    <span>Tổng số</span>
                  </a>
                </li>
                <li>
                  <a>{{ product.name }}
                    <span class="middle">x{{ quantity }}</span>
                    <span id="cost" class="last"></span>
                  </a>
                </li>
              </ul>
              <ul class="list list_2">
                <li>
                  <a>Khuyến mại
                    <span></span>
                  </a>
                </li>
                <li>
                  <a>Tổng cộng
                    <span id="totalcost"></span>
                  </a>
                </li>
              </ul>
              <button id="checkout-btn" type="submit" form="checkout-form" class="btn_3 w-100" style="cursor: pointer;">
                {% if product.available %} đặt rượu!
                {% else %} <span>đặt trước!</span>
                {% endif %}
              </button>
              {% if not product.available %}
              <p>* dự kiến có rượu vào: {{ product.available_on }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->
</main>

<script>
  window.onload = function () {
    $('input[required]').on('invalid', function () {
      this.setCustomValidity("Không thể bỏ trống!");
    });

    (function () {
      // change total cost
      let productPrice = parseInt("{{ product.price }}" + "<br>");
      let quantity = parseInt("{{ quantity }}" + "<br>");

      let total = productPrice * quantity;
      total = total.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
      total = total.slice(0, total.length - 2) + " đ"

      $("#cost").html(total)
      $("#totalcost").html(total)
    })();

    $(".form-group").each(function () {
      let parent = this;
      $(parent).find("input").each(function () {

        $(this).on("keyup", function () {
          if ($(this).val()) {
            $(parent).find("span").each(function () {
              $(this).hide()
            })
          } else {
            $(parent).find("span").each(function () {
              $(this).show()
            })
          }
        })
      })
    })

  }
</script>
{% endblock content %}