{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Tân y quán</title>
<meta name="description"
    content="Tìm mua rượu trắng: rượu trắng 20 lít, 10 lít, 5 lít. Rượu trắng tại rượu được nấu từ gạo tẻ, men bắc theo phương pháp truyền thống. ">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}

<!-- Top Features -->
<section class="top-features mt-lg-5 my-lg-5">
    <div class="auto-container pt-lg-5 py-lg-5">
        <div class="row">
            <!-- Feature Block -->
            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-charity"></span>
                    <h4><a href="#">Chữa cơ sương khớp</a></h4>
                    <p>Our Delmont hospital utilizes state of the art technology and employs a team of true experts.</p>
                </div>
            </div>

            <!-- Feature Block -->
            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-lifeline"></span>
                    <h4><a href="#">Điều trị viên tai giữa</a></h4>
                    <p>Our Delmont hospital utilizes state of the art technology and employs a team of true experts.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Section -->

<!-- About Section -->
<section class="about-section pt-lg-0">
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">Về phòng khám</span>
                        <h2>Chúng tôi điều trị viên tai giữa và bệnh cơ xương khớp bằng phương pháp cổ truyền.</h2>
                        <span class="divider"></span>
                        <p>We provide the most full medical services, so every person could have the pportunity o
                            receive qualitative medical help.</p>
                        <p> Our Clinic has grown to provide a world class facility for the treatment of tooth loss,
                            dental cosmetics and bore advanced restorative dentistry. We are among the most qualified
                            implant providers in the AUS with over 30 years of uality training and experience.</p>
                    </div>
                </div>
            </div>

            <!-- Images Column -->
            <div class="images-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">                  
                    <figure class="image-1"><img src="images/resource/image-1.png" alt=""></figure>
                    <figure class="image-2"><img src="images/resource/image-2.png" alt=""></figure>                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->


<!-- News Section -->
<section class="news-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title text-center">
            <span class="title">Bài viết mới nhất</span>
            <h2>Tư vấn sức khỏe</h2>
            <span class="divider"></span>
        </div>

        <div class="row">
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-post-image.html"><img
                                    src="/browser/static/images/resource/news-2.jpg" alt=""></a></figure>
                        <a href="#" class="date">Sep 19, 2020</a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="blog-post-image.html">Cách chữa đau lưng</a></h4>
                        <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet
                            turpis</div>
                        <div class="post-info">
                            <div class="post-author">By Admin Rose</div>
                            <ul class="post-option">
                                <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-post-image.html"><img
                                    src="/browser/static/images/resource/news-2.jpg" alt=""></a></figure>
                        <a href="#" class="date">Sep 19, 2020</a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="blog-post-image.html">Cách chữa đau tai</a></h4>
                        <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet
                            turpis</div>
                        <div class="post-info">
                            <div class="post-author">By Admin Rose</div>
                            <ul class="post-option">
                                <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-post-image.html"><img
                                    src="/browser/static/images/resource/news-2.jpg" alt=""></a></figure>
                        <a href="#" class="date">Sep 19, 2020</a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="blog-post-image.html">Cách chữa đau tai</a></h4>
                        <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet
                            turpis</div>
                        <div class="post-info">
                            <div class="post-author">By Admin Rose</div>
                            <ul class="post-option">
                                <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End News Section -->

{% endblock content %}