{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Tân y quán</title>
<meta name="description" content="">
<style>
</style>
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Qui trình nấu rượu trắng từ gạo tẻ và men bắc</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Start Sample Area -->
    <section class="sample-text-area">
        <div class="col-md-8 m-auto box_1170">
            <p class="sample-text">Để có được vò rượu ngon, chúng ta cần đảm bào qui trình tuân thủ cách nầu rượu sạch
                sẽ, nguyên liệu tốt, và nguồn nước ngon cũng là một yếu tố quan trọng.</p>
            <div class="mt-30">

                <h3 class="mb-20">Chuẩn bị:</h3>
                <div class="">
                    <ul class="" style="list-style-type: disc; padding-left: 40px !important; margin: auto;">
                        <li>
                            <p><strong class="text-dark">Gạo tẻ:</strong> Là gạo say ( lưu ý: không giống gạo sát ta ăn
                                hàng ngày). Loại gạo này nở rất to, tơi, không dính với nhau vì vậy chúng cho năng xuất
                                rượu rất tốt. Loại gạo này được các đại lí bán gạo cung cấp, họ lúc nào cũng có sẵn.</p>
                        </li>
                        <li>
                            <p><strong class="text-dark">Măn bắc:</strong> Men được chia làm quả. Quả men trắng nhỏ bằng
                                2-3 đầu ngón tay. Trong mỗi quả men có các chứa vị thuốc bắc., men tốt sẽ có mùi rất
                                thơm. Những quả men để nấu ra Rượu Hinh được lấy từ làng nghề sản xuất men cho cả nước.
                            </p>
                        </li>
                        <li>
                            <p><strong class="text-dark">Dụng cụ:</strong> Nồi đồng, rùa, củi lửa. </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mt-30">
                <h3 class="mb-20">Qui trình nấu rượu trắng từ gạo tẻ và men bắc:</h3>
                <div class="">
                    <ol class="ordered-list ml-0">
                        <li>
                            <p><strong class="text-dark">Nấu cơm:</strong> Ta căn mực nước, sao cho gạo chín mà tơi,
                                không nhả cũng không được khô. Hạt gạo cần phải nở bung, nở nứt toác ra. </p>
                        </li>
                        <li>
                            <p><strong class="text-dark">Vào men:</strong> Ta cần cơm nguội đi để rắc men. Hai quả men
                                cho một cân gạo, men cần được giã nhỏ thành bột để trộn với cơm. </p>
                        </li>
                        <li>
                            <p><strong class="text-dark">Ủ cơm:</strong> Từ 1-2 ngày sau đó cơm rượu này sẽ gỉ rước
                                rượu. Ta sẽ đổ nước vào để ủ: 7 ngày – 10 ngày rồi đem nấu( chưng cất) thu lấy rượu.
                            </p>
                        </li>
                        <li>
                            <p><strong class="text-dark">Chưng cất:</strong> Sau 7-10 ngày ta đã có thể tiến hành
                                trưng cất. Khi dâu lửa không đu lửa quá to, quá nhỏ. Giữa lửa đều để rượu chảy đều. Rượu
                                đầu chảy ra sẽ rất nặng, thường được để riêng dùng để pha với rượu nhẹ. Giữi lửa đun cho
                                đến khi rượu nhạt đi thì thôi.</p>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="mt-30">
                <h3 class="mb-20">Lưu ý:</h3>
                <div class="">
                    <ul class="" style="list-style-type: disc; padding-left: 40px !important; margin: auto;">
                        <li>
                            <p> Thời gian nấu được rượu khá lâu khoảng 10 ngày vì vậy cần kiên nhân chờ đợi cho men đủ
                                chín</p>
                        </li>
                        <li>
                            <p>Sau khi rượu nấu sau còn lại là bỗng rượu, có thể pha đường ăn rất ngon. </p>
                        </li>
                        <li>
                            <p>Nấu rượu đơn giản nhưng cũng không dễ, rượu có thể bị cháy, bị chua, bị khét,… Vì vậy cần phải kiên nhẫn nghiên cứu kĩ cách nấu rượu, học hỏi kinh nghiệm thì mới có nấu được rượu trắng ngon.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sample Area -->
</main>
{% endblock content %}