<!-- Main Footer -->
<footer class="main-footer">
    <!--Widgets Section-->
    <div class="widgets-section" style="background-image: url(images/background/7.jpg);">
        <div class="auto-container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget about-widget">
                                <div class="logo">
                                    <a href=""  class="text-uppercase text-center" style="font-size: 24px; line-height: 2;">Tân y quán</a>
                                </div>
                                <div class="text">
                                    <p>Our Clinic has grown to provide a world class facility for the clinic advanced restorative. </p>
                                    <p>We are among the most qualified implant providers in the AUS with over 30 years of quality training and experience.</p>
                                </div>
                                <ul class="social-icon-three">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>                                       
                                </ul>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <h2 class="widget-title">Dịch vụ </h2>
                                <ul class="user-links">
                                    <li><a href="#">Điều trị cơ xương khớp</a></li>
                                    <li><a href="#">Điều trị viêm tai giữa</a></li>                              
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget recent-posts">
                                <h2 class="widget-title">Bài viết mới</h2>
                                 <!--Footer Column-->
                                <div class="widget-content">
                                    <div class="post">
                                        <div class="thumb"><a href="blog-post-image.html"><img src="/browser/static/images/resource/post-thumb-1.jpg" alt=""></a></div>
                                        <h4><a href="blog-post-image.html">Integrative Medicine <Br>& Cancer Treatment.</a></h4>
                                        <span class="date">July 11, 2019</span>
                                    </div>

                                    <div class="post">
                                        <div class="thumb"><a href="blog-post-image.html"><img src="/browser/static/images/resource/post-thumb-2.jpg" alt=""></a></div>
                                        <h4><a href="blog-post-image.html">Achieving Better <br>Health Care Time.</a></h4>
                                        <span class="date">August 1, 2019</span>
                                    </div>

                                    <div class="post">
                                        <div class="thumb"><a href="blog-post-image.html"><img src="/browser/static/images/resource/post-thumb-3.jpg" alt=""></a></div>
                                        <h4><a href="blog-post-image.html">Great Health Care <br>For Patients.</a></h4>
                                        <span class="date">August 1, 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget contact-widget">
                                <h2 class="widget-title">Liên hệ</h2>
                                 <!--Footer Column-->
                                <div class="widget-content">
                                    <ul class="contact-list">
                                        <li>
                                            <span class="icon flaticon-placeholder"></span>
                                            <div class="text">Xã Hồ Sơn<Br>Tam Đảo - Vĩnh Phúc</div>
                                        </li>

                                        <li>
                                            <span class="icon flaticon-call-1"></span>
                                            <div class="text">Bác sĩ Lê Thanh Tùng</div>
                                            <a href="tel:0947916484"><strong>094 791 64 84</strong></a>
                                        </li>

                                        <li>
                                            <span class="icon flaticon-email"></span>
                                            <div class="text">Yêu cầu tư vấn<br>
                                            <a href="mailto:bstungtd@gmail.com"><strong>bstungtd@gmail.com</strong></a></div>
                                        </li>

                                        <li>
                                            <span class="icon flaticon-back-in-time"></span>
                                            <div class="text">Thứ 2 - Chử Nhật 8.00 - 18.00<br>
                                            <strong>Tất cả các ngày trong tuần</strong></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <!-- Scroll To Top -->
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
        
        <div class="auto-container">
            <div class="inner-container clearfix">
            <!--     <div class="footer-nav">
                    <ul class="clearfix">
                       <li><a href="index-2.html">Privacy Policy</a></li> 
                       <li><a href="about-us.html">Contact</a></li> 
                       <li><a href="services.html">Supplier</a></li>  
                    </ul>
                </div> -->
                
                <div class="copyright-text">
                    <p>Copyright © 2019 <a href="#">Bold Touch</a>All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Main Footer -->
